h1 {
    text-align: center;
}

#chartNode {
    height: 250px;
    margin: 10px;
    /*height: 500px;*/
    /*width: 500px;*/
}

div#container{
    width:950px;
    margin: 0 auto;
}

.length {
    width:50px;
}

h2 {
    text-align: center;
}

#container div.row {
    margin-bottom: 20px;
    padding-bottom: 20px;
}