h1 {
    text-align: center;
}

#chartNode {
    height: 250px;
    margin: 10px;
    margin: 0;
    /*height: 500px;*/
    /*width: 500px;*/
}

#sidebar {
    /*border: 1px black solid;*/
}

#sidebar h3 {
    font-size: 14px;
    text-align: center;
}

.response div.row {
    margin-bottom: 5px;
}

div#container{
    width:950px;
    margin: 0 auto;
}

#header {
    height: 250px;
}

.length {
    width:50px;
}

h2 {
    text-align: center;
}

#container div.row {
    margin-bottom: 20px;
    padding-bottom: 20px;
}