<h2>Динамическая характеристика id: <% print(id|| 0) %></h2>
<div class='span3'>
    <h3>График</h3>
    <button class="btn small primary step">Скачок</button>
    <button class="btn small danger chart_del">Скрыть</button>
</div>
<div class="span5">
    <h3>Преобразования</h3>
    <button class="btn small primary simou">Симою</button>
    <button class="btn small tangent">Касательная</button>
    <button class="btn small tangent">3 точки</button>
</div>
<div class="span8">
    <h3>Работа с откликом</h3>

    <button class="btn small line">Линеаризация</button>
    <button class="btn small flat">Слгаживание</button>
    <input class='flat span1' min='1' max="5" value='3' type="number">
    <button class="btn small norm">Нормализация</button>
</div>
