<h2 contenteditable="true"><%= tf.title %> <%= tf.order %> порядка  id: <% print(tf.id|| 0) %></h2>
<div id='transfer_<%= tf.id %>' class='math span16'>
    <% if (tf.num && tf.den) { %>
    <math display="block">
        <mi>W(s)</mi>
        <mo>=</mo>
        <mfrac>
            <% _.each(tf, function(row) { %>
            <% if (!_.isArray(row)) {return} %>
            <mrow>
                <% var index = 1 %>
                <% _.each(row, function(i) { %>
                <% if (index != 1) { print('<mo>+</mo>') } %>
                <mn><% if (i > 1) { print(i.toFixed(2)) } else { print(i) } %></mn>
                <msup>
                    <% if (row.length-index>0) { print('<mo>s</mo>') } %>
                    <% if (row.length-index>0) { print('<mn>'+ (row.length-index++) +'</mn>') } %>
                </msup>
                <% }); %>
            </mrow>
            <% }); %>
        </mfrac>
    </math>
    <% } %>
</div>
<div class='span4'>
    <h3>График</h3>
    <button class="btn primary small step">Cкачок</button>
    <input class='length' min='10' max="1000" value='300' type="number">
    <button class="btn small danger chart_del">Скрыть</button>
</div>
<div class='span4'>
    <h3>Преобразования</h3>
    <button rel="twipsy" data-original-title="Получить передаточную функцию заданного порядка на основе этой" class="btn small simp">Упростить</button>
    <input class='order span1' min='1' max="<%= tf.order %>" value='<%= tf.order -1 || 0 %>' type="number">
</div>
<div class='span4'>
    <h3>Устойчивость</h3>
    <button class="btn small nyquist">Найквист</button>
</div>
<div class='span2'>
    <h3>Модель</h3>
    <button class="btn small danger remove">Уничтожить</button>
</div>
