<h5 contenteditable="true"><%= tf.title %> <%= tf.order %> порядка  id: <% print(tf.id|| 0) %></h5>
<div id='transfer_<%= tf.id %>' class='math'>
    <% if (tf.num && tf.den) { %>
    <math display="block">
        <mi>W(s)</mi>
        <mo>=</mo>
        <mfrac>
            <% _.each(tf, function(row) { %>
            <% if (!_.isArray(row)) {return} %>
            <mrow>
                <% var index = 1 %>
                <% _.each(row, function(i) { %>
                <% if (index != 1) { print('<mo>+</mo>') } %>
                <mn><%= i %></mn>
                <msup>
                    <% if (row.length-index>0) { print('<mo>s</mo>') } %>
                    <% if (row.length-index>0) { print('<mn>'+ (row.length-index++) +'</mn>') } %>
                </msup>
                <% }); %>
            </mrow>
            <% }); %>
        </mfrac>
    </math>
    <% } %>
</div>
<div class='span-3'>
    <button class="simp">Упростить</button>
    <input class='order' min='1' max="<%= tf.order %>" value='<%= tf.order -1 || 0 %>' type="number">
</div>
<div class='span-4'>
    <button class="step">Cкачок</button>
    <input class='length' min='10' max="1000" value='300' type="number">
    <button class="chart_del">Del</button>
</div>
<div class='span-2'>
    <button class="nyquist">Найквист</button>
</div>
<div class='span-2'>
    <button class="remove">Удолить</button>
</div>