<h2>Тоже передаточная функция id: <% print(tf.id|| 0) %></h2>
<div id='transfer_simp_<%= tf.id %>' class='math'>
    <% if (tf.t && tf.tau) { %>
    <math display="block">
        <mi>W(s)</mi>
        <mo>=</mo>
        <mfrac>
            <mrow>
                <mo>1</mo>
            </mrow>
            <mrow>
                <mo><% if (tf.t[0] > 1) { print(tf.t[0].toFixed(2)) } else { print(tf.t[0]) } %></mo>
                <mo>s</mo>
                <mo>+</mo>
                <mo>1</mo>
            </mrow>
        </mfrac>
        <msup>
            <mo>e</mo>
            <mn><% if (tf.tau[0] > 1) { print(tf.tau[0].toFixed(2)) } else { print(tf.tau[0]) } %></mn>
        </msup>
    </math>
    <% } %>
</div>
<div class='span5'>
    <h3>График</h3>
    <button class="btn primary small step">Cкачок</button>
    <input class='length' min='10' max="1000" value='300' type="number">
    <button class="btn small danger chart_del">Скрыть</button>
</div>