<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">


    <title>Калькулятор передаточных функций</title>
</head>

<body class=''>
<!-- Main container -->
<div role="main" id="container" class="container">
    <h1>Калькулятор передаточных функций <small>и многое другое...</small></h1>
    <div class='span16' id="chartNode">
    </div>
</div>

<!--
     Using the build tool? If yes, delete the following uncommented scripts and read
     the comments starting on line 29.
-->

<!-- Libraries -->
<script src="/static/js/libs/jquery.js"></script>
<script src="/static/js/libs/underscore.js"></script>
<script src="/static/js/libs/backbone.js"></script>
<script src="/static/js/libs/highcharts.js"></script>
<script src="/static/js/libs/exporting.js"></script>



<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
<script src="/static/bootstrap/js/bootstrap-twipsy.js"></script>


<!--<script src="/static/js/libs/MathJax/config/TeX-AMS-MML_HTMLorMML-full.js"></script>-->
<script src="/static/js/libs/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full"></script>
<!--<script src="http://cdn.mathjax.org/mathjax/1.1-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full"></script>-->
<!-- Application -->
<script src="/static/app/draw.js"></script>
<script src="/static/app/index.js"></script>
<script src="/static/app/modules/stau.js"></script>


<!--
     If using the build tool you can uncomment the following lines and use
     these instead.  They will toggle based on if you are using debug or
     release.
-->

<!--
<script src="/assets/js/libs.js"></script>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/app.js"></script>
-->
</body>
</html>
