<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <title>Калькулятор передаточных функций</title>
</head>

<body>
<!-- Main container -->
<div role="main" id="container">
    <h1>Калькулятор передаточных функций</h1>
    <div class='span-24' id="chart">
        <h2>Считай и получайте радость</h2>
    </div>
    <!--<div class='span-12 '>2</div>-->
    <!--<div class='span-12 last'>3</div>-->


</div>

<!--
     Using the build tool? If yes, delete the following uncommented scripts and read
     the comments starting on line 29.
-->

<!-- Libraries -->
<script src="/static/js/libs/jquery.js"></script>
<script src="/static/js/libs/underscore.js"></script>
<script src="/static/js/libs/backbone.js"></script>
<script src="/static/js/libs/highcharts.js"></script>

<script src="http://cdn.mathjax.org/mathjax/1.1-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full"></script>
<!-- Application -->
<script src="/static/app/draw.js"></script>
<script src="/static/app/index.js"></script>
<script src="/static/app/modules/stau.js"></script>
<script src="/static/app/draw.js"></script>

<!--
     If using the build tool you can uncomment the following lines and use
     these instead.  They will toggle based on if you are using debug or
     release.
-->

<!--
<script src="/assets/js/libs.js"></script>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/app.js"></script>
-->
</body>
</html>
